<!DOCTYPE html>
<html lang="en" th:replace="~{base:: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Update contacts</title>
</head>
<body>
    <div id="content">
        <!--user loggedin: sidebar-->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-24">
            <div class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6 border">
                    <div 
                    class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">

                        <!--Success/failure Message-->
                        <div th:replace="~{message::messagebox}"></div>

                        <h1 class="text-2xl font-semibold">Update Contact</h1>
                        
                        <form th:action="@{'/user/contacts/update/'+${contactId}}" th:object="${contactForm}" method="post" enctype="multipart/form-data" class="mt-6">
                            <!-- name -->
                            <p 
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="text-red-600 px-1 py-2">
                            </p>
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact name</label>
                            <div class="relative mb-6">
                              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <i class="h-4 w-4 fa-solid fa-user"></i>
                              </div>
                              <input th:field="*{name}" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="John doe">
                            </div>
                            <p 
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"
                                class="text-red-600 px-1 py-2">
                            </p>
                            <!-- email -->
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact email</label>
                            <div class="relative mb-6">
                              <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                <i class="h-4 w-4 fa-solid fa-envelope"></i>
                              </div>
                              <input th:field="*{email}" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john@gmail.com">
                            </div>
                            <p 
                                th:if="${#fields.hasErrors('phoneNumber')}"
                                th:errors="*{phoneNumber}"
                                class="text-red-600 px-1 py-2">
                            </p>
                            <!-- phoneNumber -->
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact phoneNumber</label>
                            <div class="relative mb-6">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <i class="w-4 h-4 fa-solid fa-phone"></i>
                                </div>
                                <input type="text" th:field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="9857375636">
                            </div>
                            <!-- address -->
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact address</label>
                            <div class="relative mb-6">
                                <textarea th:field="*{address}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write contact address here..."></textarea>
                            </div>
                            <!-- discription -->
                            <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact discription</label>
                            <div class="relative mb-6">
                                <textarea th:field="*{description}" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write discription here..."></textarea>
                            </div>
                            <!-- Social links -->
                            <div class="flex space-x-3 mb-3">
                                <!-- websiteLink -->
                                <div class="w-full">
                                    <div class="mb-3">
                                        <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="h-4 w-4 fa-solid fa-earth-americas"></i>
                                            </div>
                                            <input type="text" th:field="*{websiteLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://contactProfile.com">
                                        </div>
                                    </div>  
                                </div>
                                <!-- linkedInLink -->
                                <div class="w-full">
                                    <div class="mb-3">
                                        <div class="relative mb-6">
                                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                                <i class="h-4 w-4 fa-brands fa-linkedin"></i>
                                            </div>
                                            <input type="text" th:field="*{linkedInLink}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://www.linkedin.com/">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- picture -->
                            <p 
                            th:if="${#fields.hasErrors('contactPic')}"
                            th:errors="*{contactPic}"
                            class="text-red-600 px-1 py-2">
                            </p>
                            <div class="mb-3">             
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Contact picture </label>
                                <input class="block w-full mb-2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="image_file_input" th:field="*{contactPic}" type="file">
                                <img th:src="*{picture}" alt="" id="upload_image_preview" class="max-h-44 mx-auto mb-3 rounded-lg shadow"/>
                            </div>
                            <!-- favourite checkbox -->
                            <div class="flex items-center mb-5">
                                <input th:field="*{favorite}" type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">is this contact your favorite?</label>
                            </div>
                            <!--  add button -->
                            <div class="button-container text-center mb-3">
                                <button type="submit" class="px-3 py-2 rounded text-white bg-black dark:bg-blue-600 dark:hover:bg-blue-700">
                                    Update Contact
                                </button>
                                <button type="reset" class="px-3 py-2 rounded text-white bg-black dark:bg-blue-600 dark:hover:bg-blue-700">
                                    Reset
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{'/js/admin.js'}"></script>
    <script>
        console.log("Update page");
    </script>
</body>
</html>